html, body {
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100%;
    width: 99.8%;
    position: absolute;
    background-color: black;
    background-image:url('18663.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
  }
  #display {
    color: white;
    font-size: 4em;
    top: 20px;
  padding-bottom: 8px;
  opacity: 0.80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#date {
    color: white;
    top:30px;
    font-size: 1.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
  }
  #content {
    height: 45em;
  } p {
    max-width: 30em;
    color: black;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-decoration: solid;
    text-align:center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 165%;
    font-size: 1.5em;
    font-variant: small-caps;
  }
  p :hover {
    text-decoration: none;
  }
    
  .container {
    padding-bottom: 16em;
    text-align: right;
  }
  #b-nav {
    padding-bottom: 5em;
    position: fixed;
    width: 100%;
    bottom: -4em;
  }
  
  #b-nav ul {
    margin: 0;
    padding: 0em;
    list-style-type: none;
    text-align: center;
  }
  .hold {
    width: 100%;
    text-align: left;
  }
  #gen {
    outline: none;
    padding-top: 2.5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    transition: 0.1s;
    padding-bottom: 2px;
  }
  #gen:hover {
    background-color:rgba(255, 217, 0, 0.884);
    color: red;
    border: thin solid black;
    opacity: 0.8;
  }